.DS_Store
node_modules
/dist
/live-member
/livemember
/farmgame
/farmgame.zip
/h5_live_member
/livemember.zip

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
